# Database
DATABASE_URL="postgresql://siga_user:siga_password@postgres:5432/siga_secult"

# JWT
JWT_SECRET="sua_chave_secreta_muito_segura_aqui"
JWT_EXPIRE="24h"
JWT_REFRESH_EXPIRE="7d"
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=60

# Server
PORT=3000
NODE_ENV="development"

# Upload
MAX_FILE_SIZE=52428800
UPLOAD_DIR="../uploads"
